<form (ngSubmit)="save($event)">
  <table style="text-align: center; margin-left: 40%; margin-right: 10%; background-color: aquamarine;">
   <p>
      Nombre: <br/>
      <input type="text" formControlName="nombre" >
    </p>
    <p>
      contraseña: <br/>
      <input type="password" formControlName="password">
    </p>
      <p>
        <p>
     confirmar Contraseña: <br/>
     <input type="password" formControlName="confirmPassword">
     </p>
     <p>
      Email: <br/>
      <input type="email" formControlName="email">
    </p>
    <p>
      numero: <br/>
      <input type="tel" formControlName="numero">
    </p>
    
    <button (click)="navegacion()" type="submit" [disabled]="form.invalid">Guardar</button> 
  </table>