<form (ngSubmit)="save($event)">
   <p>
      Name: <br/>
      <input type="text" formControlName="name">
    </p>
    <p>
      contraseña: <br/>
      <input type="password" formControlName="password">
    </p>
      <p>
        <p>
     confirmar Contraseña: <br/>
     <input type="password" formControlName="confirmPassword">
     </p>
     <p>
      Email: <br/>
      <input type="email" formControlName="email">
    </p>
    <p>
      numero: <br/>
      <input type="tel" formControlName="numero">
    </p>
    
    <button type="submit" [disabled]="form.invalid">Guardar</button> 
